<main>
    <table>
        <thead>
            <th>Date</th>
            <th>Company</th>
            <th>Job Title</th>
            <th>Resume</th>
            <th>...</th>
        </thead>
        <tbody>
            @for(item of [].constructor(5); track $index) {
                <tr>
                    <td>Today<br>11:45</td>
                    <td>
                        <img src="https://media.licdn.com/dms/image/v2/C4E0BAQHgXLxM5ORXZw/company-logo_100_100/company-logo_100_100/0/1631327663230?e=1782345600&v=beta&t=IJ0x1A_mhZCvyY0kJkxEpT1O9enSEeeyqCM0frbVAuE" alt="">
                        Company name
                    </td>
                    <td>Full stack Software developer C++</td>
                    <td><a href="">CV_Caleb_Adoumadje</a></td>
                    <td><a href="">more details</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>