
:host {
  display: block;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.panel {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 500px;
  height: 70vh;
}


.title {
  margin-bottom: 50px;
}

.welcome {
  font-size: 16px;
  font-weight: 300;
  color: #555;
}

.black {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}

.blue {
  font-size: 28px;
  font-weight: 700;
  color: #1a73e8;
}


.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: white;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.2s ease;
}

.google-btn:hover {
  background: #f7faff;
  border-color: #1a73e8;
  box-shadow: 0 4px 10px rgba(26, 115, 232, 0.2);
  transform: translateY(-1px);
}

.google-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.google-btn img {
  width: 18px;
  height: 18px;
}