
:host {
  display: block;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.panel {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 500px;
  height: 70vh;
}


.title {
  margin-bottom: 50px;
}

.welcome {
  font-size: 16px;
  font-weight: 300;
  color: #555;
}

.black {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}

.blue {
  font-size: 28px;
  font-weight: 700;
  color: #1a73e8;
}


.google-btn {
  margin-left: auto;
  margin-right: auto;
  width: 200PX;
}