<header class="app-header">
    <div class="app-header__left">
        <h1 class="app-header__logo">
            <span class="app-header__logo--black">Job</span>
            <span class="app-header__logo--blue">Huntinger</span>
        </h1>
    </div>

    <nav class="app-header__nav">
    <ul class="app-header__nav-list">
        <li class="app-header__nav-item">
            <a
                routerLink="dashboard"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="app-header__nav-link">
                Dashboard
            </a>
        </li>

        <li class="app-header__nav-item">
            <a
                routerLink="new-job"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="app-header__nav-link">
                New Job
            </a>
        </li>

        <li class="app-header__nav-item">
            <a
                routerLink="about"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="app-header__nav-link">
                About
            </a>
        </li>
    </ul>
</nav>

    <div class="app-header__right">
        <div class="app-header__user">
            <h5 class="app-header__username">username</h5>
            <div class="app-header__avatar">
                <img src="https://lh3.googleusercontent.com/a/ACg8ocJ-breuJCoaJpgbhRYsnxK-bW0d9kto_A8qDAz95wCY74ukbpAN=s96-c" 
                alt="User avatar">
            </div>
        </div>

        <button class="app-header__logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
</header>