<header class="app-header">
    <div class="app-header__left">
        <h1 class="app-header__logo" routerLink="dashboard">
            <span class="app-header__logo--black">Job</span>
            <span class="app-header__logo--blue">Huntinger</span>
        </h1>
    </div>

    <nav class="app-header__nav">
        <ul class="app-header__nav-list">
            <li class="app-header__nav-item">
                <a
                    routerLink="dashboard"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="app-header__nav-link">
                    Dashboard
                </a>
            </li>

            <li class="app-header__nav-item">
                <a
                    routerLink="new-job"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="app-header__nav-link">
                    New Job
                </a>
            </li>

            <li class="app-header__nav-item">
                <a
                    routerLink="about"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="app-header__nav-link">
                    About
                </a>
            </li>
        </ul>
    </nav>

    <div class="app-header__right">
        <div class="app-header__user">
            <h5 class="app-header__username">username</h5>
            <div class="app-header__avatar">
                <img src="https://lh3.googleusercontent.com/a/ACg8ocJ-breuJCoaJpgbhRYsnxK-bW0d9kto_A8qDAz95wCY74ukbpAN=s96-c" 
                alt="Avatar">
            </div>
        </div>

        <button
            class="app-header__logout"
            (click)="openLogoutDialog()">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
</header>
<dialog #logoutDialog 
    (click)="onDialogClick($event)"
    class="logout-dialog">
    <div class="logout-dialog__content">
        <h3 class="logout-dialog__title">
            Logout
        </h3>

        <p class="logout-dialog__message">
            Are you sure you want to logout?
        </p>

        <div class="logout-dialog__actions">
            <button
                type="button"
                class="logout-dialog__button logout-dialog__button--cancel"
                (click)="closeLogoutDialog()">
                Cancel
            </button>

            <button
                type="button"
                class="logout-dialog__button logout-dialog__button--confirm"
                (click)="logout()">
                Logout
            </button>
        </div>
    </div>
</dialog>