<div class="pager">
    <div class="pager__container">
        @if (currentPage > 0) {
            <button class="pager__item pager__arrow"
                (click)="goToPage(currentPage-1)">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
        }

        @if (visiblePages[0] > 0) {
            <button class="pager__item"
            [class.active]="currentPage === 0"
            (click)="goToPage(0)">
                1
            </button>
        }

        @if (visiblePages[0] > 1) {
            <span class="pager__ellipsis">...</span>
        }

        @for (pageNumber of visiblePages; track $index) {
            <button class="pager__item"
                    [class.active]="pageNumber === currentPage"
                    (click)="goToPage(pageNumber)">
                {{ pageNumber + 1 }}
            </button>
        }

        @if (visiblePages[visiblePages.length-1] < totalPages-2) {
            <span class="pager__ellipsis">...</span>
        }
        
        @if (visiblePages[visiblePages.length-1] < totalPages-1) {
            <button class="pager__item"
                    [class.active]="currentPage === totalPages-1"
                    (click)="goToPage(totalPages-1)">
                {{ totalPages-1 }}
            </button>
        }

        @if (currentPage < totalPages-1) {
            <button class="pager__item pager__arrow"
                (click)="goToPage(currentPage+1)">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        }
    </div>
</div>