<div class="pager">
    <div class="pager__container">
        <span class="pager__item pager__arrow">
            <i class="fa-solid fa-chevron-left"></i>
        </span>

        <span class="pager__item pager__item--active">1</span>
        <span class="pager__item">2</span>
        <span class="pager__item">3</span>
        <span class="pager__item">4</span>

        <span class="pager__ellipsis">...</span>

        <span class="pager__item">8</span>

        <span class="pager__item pager__arrow">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
    </div>
</div>